#main-container{
    padding: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
}

#locations-layout{
    display: grid;
    grid-template-columns: repeat(3,minmax(0px, 1fr));
    gap: 24px !important;
}

#card-container{
    display: flex;
    justify-content: space-around;
}

.house-cards{
    border: solid black 1px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.house-details{
    height: 70px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}


.house-listing-img{
    width: 100%;
    height: 80%;
    border-radius: 15px;
}


/* @media (min-width:878px){
    #locations-layout{
    display: grid;
    grid-template-columns: repeat(3,minmax(0px, 1fr));
    gap: 24px !important;
    }
}

@media(min-width: 551px){
    #locations-layout{
        display: grid;
        grid-template-columns: repeat(2,minmax(0px, 1fr));
        gap: 24px !important;
        }
}

@media(min-width: 0){
    #locations-layout{
        display: grid;
        grid-template-columns: repeat(1,minmax(0px, 1fr));
        gap: 24px !important;
        }
} */
