#userName-field {
    padding-left: 50px;
}

#username-input{
    margin: 10px;
}

#password-field{
    padding-left: 50px;
}

#password-input{
    margin: 10px;
}

#login-button{
    margin: 15px;
    padding-left: 35px;
}
