#email-field{
    margin-left: 80px;
}

#username-field{
    margin-left: 80px;
}

#confirm-password-field{
    margin-left: 80px;
}

#password-field{
    margin-left: 80px;
}

#signup-button{
    margin-left: 50px;
}

.signup-items{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    position: relative;
    top: 200px;
}

.input-box-signup{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.sign-in-buttons{
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 60px;

}
