#profile-button{
    margin: 10px
}

#navigation-ul{
    border: solid black 1px;
}

#nav-bar-items{
padding-top: 30px;
display: flex;
justify-content: space-between;
}

#nav-bar-items > {
    display: flex;
    margin: 40px;
    padding: 40px;
}

#nav-bar-box-container{
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 1px !important;
    position: fixed;
    top: 0px;
    right: 50px;
    width: 100%;
    background-color: white;
    z-index: 1;
}


#logo-img{
    height: 35px;
    width: 115px;
    display: flex;
    justify-content: start;
}

#img-container{
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
}

.navLinks{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.logo-a-img{
    cursor: pointer;
}

#sign-up-link{
    display: flex;
    position: relative;
    right: 20px;
}


/* #profile-button{
    height: 50px;
    width: 50px;
    background-color: white;
    border-color: white;
    box-shadow: none;

}

.hamburger{
    width: 25px;
    height: 20px;
    background-color: black;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
} */
